.rewardItemWrapper {
	width: 50px;
    margin: 10px;
    padding: 12.5px;
    border-radius: 3px;
	background: #FF6870;
}

.rewardItemTitle {
	color: #FCFCFC;
	font-weight: bold;
    text-align: center;
	
}